* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  /* position: fixed;
  left: 0;
  right: 0;
  top: 0; */
  background-color: #eee;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #4215;
}
.header-container {
  width: 100vw;
  max-width: 1400px;

  display: flex;
  overflow: hidden;
}
@keyframes showLogo {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: 0, 0, 0;
  }
}

.logo {
  animation: showLogo 0.6s forwards;
  font-size: 2rem;
  margin: 0px 15px;
  display: flex;
  align-items: center;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu ul {
  display: flex;
}
.menu ul a {
  display: flex;
  margin: 0px 15px;
  font-size: 1.3rem;
  padding: 5px;
  color: #222;
}
.menu ul a:hover {
  background-color: #4215;
  transition: background-color 0.3s ease;
}

.section-content {
  display: flex;
  height: calc(100vh - 100px);
}
.section-content .section-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(207, 207, 207); */
  background-color: #3e3d3d;
  overflow: hidden;
}
@keyframes showLeftTextfield {
  from {
    opacity: 0;
    transform: translate3d(300px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showLeftTextfieldDesactive {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 0, 50px);
  }
}
@keyframes showBtn {
  0% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}

.section-btn {
  position: absolute;
  width: 68%;
  display: flex;

  /* display: none; */
  justify-content: end;
  align-items: center;
}
.section-btn a {
  display: inline-flex;
  padding: 10px 30px;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #eee;
  background-color: #3e3d3d;
}
.section-btn a.desactive,
.section-btn.desactive {
  animation: showBtn 0.4s forwards ease;
}
.section-left .section-textfield {
  width: 450px;
  height: 400px;
  border-radius: 4px;
  display: none;
  flex-direction: column;
  box-shadow: 1px 1px 5px #3e3d3d;
  background-color: #eee;
}

.section-left .section-textfield.active {
  display: flex;
  animation: showLeftTextfield 0.4s forwards ease-out;
}

.section-left .section-textfield .close {
  display: flex;
  justify-content: flex-end;
  margin-top: -22px;
}

footer {
  padding: 5px;
  background-color: #eee;
}
footer p {
  text-align: center;
  color: #222;
  font-size: 14px;
}
/* animation section info for 188 line */
@keyframes showSectionInfo {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
}
@keyframes showSectionInfoActive {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.section-info {
  margin-right: 20px;
  width: 450px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  border-left: 3px solid #3e3d3d;
  background-color: #222;
  border-radius: 4px;
  box-shadow: 2px 3px 18px #222;
}
@keyframes showP {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.section-info p {
  background-color: #3e3d3d;
  padding: 15px;
  width: 50%;
  border-radius: 4px;
}
.section-info p.active {
  animation: showP 1.2s forwards;
}
.section-info.active {
  display: flex;
  animation: showSectionInfoActive 0.3s forwards ease-in;
}
.section-info.desactive {
  display: none;
  animation: showSectionInfo 0.3s forwards ease-in;
}
.section-left .section-textfield .close span {
  display: flex;
  background-color: red;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
.section-left .section-textfield .close span:hover {
  color: #eee;
  transform: rotate(45deg);
  transition: transform 0.3s, color 0.3s ease;
}
.close span:hover {
  background-color: green;
}
.section-content .section-right {
  flex: 1;
  background: url("designer-trabalhando-no-modelo-3d.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-texfield-text {
  height: inherit;
}

.section-texfield-text form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: inherit;
}
.section-texfield-text input {
  width: 70%;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid #222;
}
.section-texfield-text form a {
  margin-top: 5px;
  background-color: rgb(36, 214, 9);
  padding: 10px 30px;
  border-radius: 4px;
  color: #fff;
  border: 2px solid #3e3d3d;
}

.menuBurguer {
  width: 50px;
  height: 50px;
  display: none;
  margin-right: 10px;
  flex-direction: column;
  justify-content: space-evenly;
}
.menuBurguer .burguer-line {
  height: 6px;
  background-color: #222;
}

@keyframes showMenuMobile {
  from {
    opacity: 0;
    margin-right: -1000px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes showMenuMobileDesactive {
  from {
    opacity: 1;
    margin-right: 0;
  }
  to {
    opacity: 0;
    margin-left: -1000;
  }
}
/* response */

@media (max-width: 430px) {
  .section-content {
    flex-direction: column;
  }
  .menuBurguer {
    display: flex;
  }
  .menu nav {
    position: absolute;
    top: 100px;
    z-index: 999;
    display: none;
    height: 100vh;
    width: 100%;
    background-color: #222;
  }
  .menu nav.active {
    display: flex;
    animation: showMenuMobile 1s forwards;
  }
  .menu nav.desactive {
    display: flex;
    animation: showMenuMobileDesactive 1s forwards;
  }
  .menu ul {
    flex-direction: column;
    height: 300px;
  }
  .menu ul a {
    color: #fff;
  }
  .section-content .section-right {
    flex: 1;
  }
  .section-info {
    width: 300px;
    height: 250px;
  }
  .section-info p {
    font-size: 13px;
  }
  .section-btn {
    align-items: end;
    height: 340px;
  }
  .close span {
    background-color: green;
  }
  .section-textfield.active {
    width: 300px;
    height: 230px;
  }
  .section-texfield-text {
    height: 230px;
  }
  .section-texfield-text h2 {
    margin-top: 8px;
    font-size: 18px;
  }
  .section-texfield-text form a {
    padding: 6px 20px;
  }
  .section-content .section-left {
  }
}
